Flask==3.0.3
flask_cors==5.0.0
fpdf==1.7.2
numpy==2.1.2
pymupdf==1.24.12
scikit_learn==1.5.2
sentence_transformers==3.2.1
streamlit==1.39.0
termcolor==2.5.0
torch -f https://download.pytorch.org/whl/cpu
transformers==4.45.2
